.Contact {
    text-align: left;
    padding: 35px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    margin: 20px auto;
    position: relative;
    width: 50%;
    word-wrap: break-word;
}
.Hide {
    display: none;
}

.Show {
    display: block;
}

.Image {
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin: 25px;
    float: left;
}

.EditButton {
    position: absolute;
    top: 10px;
    right: 10px;
}

.Contact button {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    background: goldenrod;
}

.Contact .Site {
    background: none;
    border: none;
    text-decoration: underline;
    color: blue;
    font-size: 16px;
}

@media (max-width: 600px) {
    .Contact {
        width: 70%;
    }

    .Image {
        width: 100px;
        height: 100px;
        margin: 5px;
        float: none;
    }
    .Contact div {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .Image {
        width: 50px;
        height: 50px;

    }

    .Contact button {
        padding: 5px;
    }
}
